/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?

- It should look like this (see below) and the pathway to the directory containing the style sheet must be accurate or else the CSS for the page cannot load.

<link type="text/css" rel="stylesheet" href="stylesheets/my-berkshire-stylesheet.css">

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?

- My partner and I had to think for a while how to create two columns for the links in the center of the page.  We were uncertain how to make them casacade over or if using a table was required.  In the end we just made two different lists and used classes for a right and left to position them with CSS to be next to each other on the page.

What CSS did you use to modify the element style (like size, color, etc.)

- We used size, text color, background color, padding, margin, float, text-align, and center.

Did you modify the HTML to include classes or ids? If so, which did you chose and why? If you didn't, how would you know which one to add to your HTML?

- Yes, we definitely needed to add some classes.  We needed a class to make text smaller than the default size of the normal text on the page.  We also used a left and right class for our unordered lists to get them to stay on the left and right sides of the page.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

- This is a technical question I do not believe I have the required knowledge to properly answer.  I am pretty sure that whoever designed this website must be pretty experienced and knowledgeable of HTML and CSS.  With that said, whoever designed it used a lot of styling directly in the HTML, which we are told is not best practices.  The code of the original site also doesn't use any of the new HTML tags to make their website more comprehensible to screen readers.  It pretty much just uses <p>, <div>, and <tr> elements.  I also don't see it using any classes or elements in its CSS.

*/



/* Header Styles */

body {
  background-color: #ffffff;
  color: #000080;
}
header {
  text-align: center;
  padding: 0;
  margin: 0;
}
header h1 {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
header h2, h3 {
  font-size: .7em;
  margin: 0;
  padding: 0;
}
header h4 {
  margin: 0;
  padding: 0;
}
.first-letter {
  font-size: 1.5em;
}

/* Body Styles */

a {
  color: #800080;
}
a:visited {
  color: #ff0000;
}

#left {
  float: left;
  width: 50%;
}
#right {
  float: right;
  width: 50%;
}
#advert {
  clear: both;
}
.littletext {
  font-size: .7em;
}
.geico {
  font-size: .7em;
  text-align: center;
}
li {
  height: 50px;
}