/* Header Styles */

body {
  background-color: #ffffff;
  color: #000080;
}
header {
  text-align: center;
  padding: 0;
  margin: 0;
}
header h1 {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}
header h2, h3 {
  font-size: .7em;
  margin: 0;
  padding: 0;
}
header h4 {
  margin: 0;
  padding: 0;
}
.first-letter {
  font-size: 1.5em;
}

/* Body Styles */

a {
  color: #800080;
}
a:visited {
  color: #ff0000;
}

#left {
  float: left;
  width: 50%;
}
#right {
  float: right;
  width: 50%;
}
#advert {
  clear: both;
}
.littletext {
  font-size: .7em;
}
.geico {
  font-size: .7em;
  text-align: center;
}
li {
  height: 50px;
}